::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: black;
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 0.5em;
  background: transparent;
  /* border: 1px solid silver; */
  border-radius: 5px;
}

a,
a:visited {
  color: black;
}

p {
  margin: 0 0 1em 0;
  font-family: 'Times New Roman', Times, serif
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
}

select {
  font-size: 1.2em;
}

main {
  overflow-y: scroll;
}

#main {
  max-width: 375px;
  height: 100vh;
  padding: 1em;
  overflow-y: scroll;
  position: relative;
}

section {
  width: 100%;
  max-width: 375px;
  margin: 0 0 1em 0;
  font-size: 0.8em;
}

small {
  display: block;
  margin: 0.5em 0 0 0;
  color: cyan;
  filter: contrast(3);
  text-shadow: 0em 0em 0.5em cyan;
}

#devices {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.8em;
}

#devices>div {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

#devices .circle {
  width: 1em;
  height: 1em;
  margin: 0 0.25em 0 0;
  border-radius: 100px;
}

.maps {
  display: flex;
  flex-flow: column;
}

.ui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.map {
  width: 100%;
  height: 375px;
  filter: contrast(3) invert(0);
}

.map.hidden {
  display: none;
}

.map:last-of-type {
  border: 0;
}

.map-full {
  width: calc(100vw - 375px);
  height: 100vh;
  filter: contrast(1) invert(0);
}

#devices .device {
  cursor: pointer;
}

#devices .device.disabled {
  opacity: 0.5;
}

@media screen and (max-width: 640px) {
  body {
    flex-flow: column-reverse nowrap;
  }

  main {
    width: 100vw;
    height: auto;
  }

  #main {
    height: auto;
  }

  .map-full {
    width: 100vw;
    height: 70vh;
    filter: contrast(1) invert(0);
  }
}

/* Leaflet override */
.leaflet-popup p {
  margin: 0 !important;
  font-family: 'Arial', sans-serif !important;
}

.collapsible {
  cursor: pointer;
  margin: 1em 0 0 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
}

h3 {
  cursor: pointer;
  margin: 1em 0 0.5em 0;
  font-size: 0.9em;
  font-weight: normal;
  text-transform: uppercase;
}

#discoveries div:first-child h3 {
  margin: 0 0 0.5em 0;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

#checkbox {
  font-size: 0.8em;
}

input {
  vertical-align: -2px;
}

#content {
  margin: 0.3em 0 0 0;
}

#discription {
  width: 100%;
  margin: 0.5em 0 0 0;
  border-bottom: 1px dotted lightgray;

}

#discription p {
  font-family: 'Arial', sans-serif;
  font-size: 0.8em;
}


#imageDiv {
  height: 150px;
}

#imageDiv img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}

#discov-container-left {
  display: flex;
  align-items: left;
}

#discov-container-left div {
  padding-right: 10px;
}